app-header {
    position: fixed;
    width:100%;
    top:0px;
    height:4rem;
}
main{
    position:absolute;
    width:100%;
    top:4rem;
    z-index:1;
}
sidebar{
    position:absolute;
    width:250px;
}

.display-area{
    position:absolute;
    left:250px;
    width:calc(100% - 250px);
}