<form [formGroup]="profileForm" (ngSubmit)="saveUser(profileForm)" class="form-container">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="full-width">
                <mat-label> First Name </mat-label>
                <input formControlName="firstName" #firstNameInput matInput placeholder="First Name">
            </mat-form-field>

            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-label> Last Name </mat-label>
                    <input formControlName="lastName" #lastNameInput matInput placeholder="Last Name">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-label> Age </mat-label>
                    <input formControlName="age" type="number" #ageInput matInput placeholder="Age">
                </mat-form-field>
            </div>
        
            <mat-card-actions>
                <button mat-raised-button color="primary"> Submit</button>
            </mat-card-actions>
        </div>
    </div>
</form>